### Lab Assignment 3

Dataset: spam.csv

In [19]:
import re
import nltk
import pandas as pd
from nltk.corpus import stopwords

nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\harsh\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [8]:
df = pd.read_csv("spam.csv", encoding="latin-1")

In [10]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

### Remove Puntuation and Stopwords

In [20]:
def remove_punctuations(text):
    return re.sub(r"[^\w\s]", "", text)

def remove_stopwords(text):
    stop_words = set(stopwords.words("english"))
    return " ".join([word for word in text.split() if word.lower() not in stop_words])

In [22]:
df["v2"] = df["v2"].apply(remove_punctuations)
df["v2"] = df["v2"].apply(remove_stopwords)

In [25]:
df.head()

     v1                                                 v2
0   ham  Go jurong point crazy Available bugis n great ...
1   ham                            Ok lar Joking wif u oni
2  spam  Free entry 2 wkly comp win FA Cup final tkts 2...
3   ham                U dun say early hor U c already say
4   ham        Nah dont think goes usf lives around though